# This is a sample environment to deploy the gamification app.
#
# To configure your environment, you only have to copy this file to a file named "env"
# and update the values to what you want. Please note that this file will then contain
# deployment secrets that should be kept secret.

MYSQL_DATABASE=webpolls
MYSQL_USER=webpolls
MYSQL_PASSWORD=insecure
MYSQL_RANDOM_ROOT_PASSWORD=yes
DATABASE_HOST=db